[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
ipdb = "*"

[packages]
Pillow = "*"
python-dotenv = "*"
codecs = "*"

[requires]
python_version = "3.6"